<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<h1>Guests</h1>
<%= link_to "New Guest", "/guests/new" %>
<% @guests.each do |guest| %>
  <h3><%=guest.name%></h3>
  <p>age: <%=guest.age%></p>
  <p>new member: <%=guest.new%></p>
  <p>member of library: <%=guest.library_id%></p>
  <p><h3><%= button_to "Edit #{guest.name}", "/guests/#{guest.id}/edit", method: :post %></h3></p>
  <p><h3><%= button_to "Delete #{guest.name}", "/guests/#{guest.id}", method: :delete %></h3></p>
<% end %>
