<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<h1><%= @guest.name %></h1>
<p>age: <%= @guest.age %></p>
<p>library id: <%= @guest.library_id %></p>
<p>guest id: <%= @guest.id %></p>
<p><h3><%= button_to "Edit #{@guest.name}", "/guests/#{@guest.id}/edit", method: :post %></h3></p>
