<h2><%= link_to "Books", "/books" %></h2>
<h2><%= link_to "Authors", "/authors" %></h2>

<h1>Authors</h1>

<% @authors.order_by.each do |author| %>
  <p>
    <%= author.name %>
    <%= link_to "Edit #{author.name}", "/authors/#{author.id}/edit" %>
    <%= button_to "Delete", "/authors/#{author.id}", method: :delete %>
  </p>
  <p><h4>Created at: <%= author.created_at %></h4></p>
<% end %>

<%= link_to "New Author", "/authors/new" %>
