<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<%= link_to "New Guest", "/guests/new" %>
<% @guests.each do |guest| %>
  <p><h2><%=guest.name%></h2></p>
  <p>age: <%=guest.age%></p>
  <p>New guest? <%=guest.new%></p>
  <p><h3> <%= button_to "Edit #{guest.name}", "/guests/#{guest.id}/edit", method: :post %></h3></p>
<% end %>
