<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<img src="https://c.tenor.com/UFv9da8DfgwAAAAM/the-library-is-open-rupaul.gif" alt="Library is Open" style="width:350px;height:400px;">
<h1>Libraries</h1>
<%= link_to "New Library", "/libraries/new" %>
<% @libraries.each do |library| %>
  <p><h3><%= library.name %> <%= button_to "Edit #{library.name}", "/libraries/#{library.id}/edit", method: :post %></h3></p>
  <p><h3><%= button_to "Delete #{library.name}", "/libraries/#{library.id}", method: :delete %></h3></p>
  <p>Created at: <%=library.created_at%></p>
<% end %>
