<h2><a href="/guests">Guests</a></h2>
<h2><a href="/libraries">Libraries</a></h2>
<h1>Libraries</h1>
<%= link_to "New Library", "/libraries/new" %>
<% @libraries.order_by.each do |library| %>
  <p><h3><%= library.name %> <%= button_to "Edit #{library.name}", "/libraries/#{library.id}/edit", method: :post %></h3></p>
  <p><h3><%= button_to "Delete #{library.name}", "/libraries/#{library.id}", method: :delete %></h3></p>
  <p>Created at: <%=library.created_at%></p>
<% end %>
