<h2><%= link_to "Books", "/books" %></h2>
<h2><%= link_to "Authors", "/authors" %></h2>
<%= link_to "New Book", "/books/new" %>
<h1>Books<h1/>

<% @books.true_book.each do |book| %>
  <p><h2><%= book.name %></h2>
    <%= link_to "Edit #{book.name}", "/books/#{book.id}/edit" %>
    <%= button_to "Delete", "/books/#{book.id}", method: :delete %>
  </p>
  <p><h4><%= book.author_id %></h4></p>
  <p><h4><%= book.hardcover %></h4></p>
  <p><h4>This book has <%= book.pages %> pages </h4></p>
  <p><h4>This book's genre is <%= book.genre %></h4></p>
<% end %>
