<h2><%= link_to "Books", "/books" %></h2>
<h2><%= link_to "Authors", "/authors" %></h2>
<p><%= @books.name %></p>
<p><%= @books.hardcover %></p>
<p><%= @books.genre %></p>
<p><%= @books.pages %></p>
<p><%= @books.author_id %></p>
<%= link_to "Edit #{@books.name}", "/books/#{@books.id}/edit" %>
